<h1>Create a Meow Meow<h1>
  <form class="new_cat" id="new_cat" action="/cats" accept-charset="UTF-8" method="post">

  <p>
    <input placeholder="Cat Name" type="text" name="name" id="cat_name" /><br><br>
    <input placeholder="Cat Image url" type="text" name="image" id="cat_image" /><br><br>
    <textarea placeholder="Life Story" name="life_story" id="cat_life_story" />
  </textarea>
  </p>
</form>

<a class="link" href="/cats"> Nevermind </a>
