<h1>MeowMeow</h1>
<nav>

  <a class="link" href="/cats/new"> Generate Cat</a>
  <a class="link" href="/cats/edit">Help Me Meow Meow</a>

</nav>
<ul>{{#each cats}}
<li>name: {{this.name}}</li>
{{/each}}
</ul>
